DB_HOST=your_db_host
DB_PORT=your_db_port
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
# not necessary in local dev
DB_SSL_ROOT_CERT=your_db_ssl_certificate_location

AWS_ACCESS_KEY_ID=aws_access_key
AWS_SECRET_ACCESS_KEY=aws_access_key_secret
CRAWLER_SQS_NAME=crawler_queue_name
INDEXER_SQS_NAME=indexer_queue_name
S3_BUCKET_NAME=crawler_s3_bucket_name

REDIS_ADDRESS=redis_address
REDIS_USERNAME=redis_username
REDIS_PASSWORD=redis_password
REDIS_DATABASE=0

# i used upstash for robots.txt as my redis free tier was extinguished, so this might be skipped if youre on redis paid tier
# the code is anyways cache provider agnostic
UPSTASH_REDIS_REST_URL=upstash_url
UPSTASH_REDIS_REST_TOKEN=upstash_token

# if opting for mails
RESEND_API_KEY=resend_api_key